{% extends "navi.html" %} {% block content %}
<style>
    .newpostbody{
        padding: 6vh 20vw 0 20vw;
    }
    
    form{
        margin-top:2vh;
        display:flex;
        flex-direction:column;
    }
    
    .textarea{
        margin-top:2vh;
    }
    
    input:not(#inputbtn){
        width:100%;
    }
    
    textarea{
        width:100%;
        resize: none;
    }
    
    #inputbtn{
        margin-top:2vh;
    }
    
    input:not(#content):not(#subject) {
        font-family: 'GmarketSansMedium';
        background-color: #ffeef6;
        border: 2px solid #ffa5a5;
        padding: 16px;
        line-height: 0;
        border-radius: 4px;
    }

    #subject,#content {
        font-family: 'GmarketSansMedium';
        border: 2px solid #868e96;
        border-radius: 4px;
        line-height:24px;
        font-size:22px;
    }
    
    .content {
        color:black;
    }
</style>

<div class="newpostbody">
    <div class="content">{{ celebrity_name }}<br /></div>
    <hr />
    <form action="{% url 'pybo:post_create' celebrity_name %}" method="post">
        {% csrf_token %}
        
        <div>
            제목
            <input type="text" name="subject" id="subject" />
        </div>
        <div class="textarea">
            본문
            <textarea name="content" id="content" rows="20"></textarea>
        </div>

        <input id="inputbtn" type="submit" value="게시물 등록" />
    </form>
</div>


{% endblock %}